@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] {
        --active: #275EFE;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
    }

    :after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    :checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }



    :focus {
        box-shadow: 0 0 0 var(--focus);
    }


    body {
        min-height: 100vh;
        font-family: 'Inter', Arial, sans-serif;
        color: #8A91B4;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(-20deg, #d0b782 20%, #a0cecf 80%);
    }

    .message {
        color: green;
        bottom: 20%;
        left: 30%;
        position: relative;
    }
}
